.css-1r4vtzz {
  width: 254px !important;
}
.css-48ayfv {
  width: 254px !important;
}
.css-1v99tuv {
  word-spacing: 4px !important;
}
.css-48ayfv:active {
  border-color: #515151 !important;
}
.css-1qprcsu-option {
  background-color: #25242400 !important;
}

.css-48ayfv:focus {
  border: 3px solid black;
}
.css-1r4vtzz {
  border-width: 1px !important;
  margin: 25px 0 0 0 !important;
}
.css-1r4vtzz:active {
  border: 1px solid black;
}
.css-48ayfv {
  border-width: 1px !important;
  border-color: black !important;
  margin: 25px 0 0 0 !important;
}

.css-1r4vtzz {
  border-width: 1px !important;
  margin: 25px 0 0 0 !important;
  border-color: black;
}

.css-1r4vtzz,
.css-48ayfv,
.css-1jllj6i-control,
.css-1hwfws3,
.css-ik6y5r,
.css-1wy0on6 {
  background-color: #f8f8f8 !important;
}

.multi-select {
  float: left;
  margin-bottom: 1em;
}
